#button {
  text-align: center;
  display: inline-block;
  background-color: #0b0c10;
  border: 2px double #66fcf1;
  padding: 15px 32px;
  font-size: 16px;
  color: #66fcf1;
  margin: 8px;

  display: inline;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 0.4s;
}

#button:hover {
  background-color: #66fcf1;
  color: #0b0c10
}

#input {
  padding: 12px 20px;
  margin: 8px 0;
  border: 2px solid #66fcf1;
  background-color: #0b0c10;
  color: #c5c6c7;

  display: inline;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  transition-duration: 0.4s;
}

.alert {
color: #c5c6c7;
padding: 15px;
border: #66fcf1 2px solid;
}
